@media screen {

body {background-image: url(nycskyline.jpg); 
	background-repeat: no-repeat;}

ul {list-style-type:none; 
	margin:0; 
	padding:0; 
	clear:left;}
	
ul li {float:left; 
	width:100%;}
	
ul li a {display:block; 
	text-align:center; 
	padding:10px 10px; 
	margin:5px; 
	color:white; 
	background-color:red; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}

.banner {text-align:center; 
	font-size:3em; 
	letter-spacing:20px; 
	letter-spacing:10px; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	margin-top:0px; 
	color:red;}

img {float:left; 
	max-width:100%; 
	max-height:100%; 
	margin:15px;}

p {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	padding:20px;}

footer {border-top:2px solid black; 
	clear:both;}

.site-footer {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size:small; 
	position:relative; 
	padding:10px;}

.centralparkpic {float:left; 
	padding:10px; 
	margin-bottom:20px; 
	width:100%;}

.centralparktext {float:left; 
	padding:10px; 
	margin-bottom:20px;}

}

@media screen and (min-width: 700px){

ul {list-style-type:none; 
	margin:0; 
	padding:0; 
	clear:left;}
	
ul li {float:left; 
	width:50%;}
	
ul li a {display:block; 
	text-align:center; 
	padding:10px 10px; 
	margin:5px; 
	color:white; 
	background-color:red; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}

main {overflow:hidden; 
	width:100%;}

.centralparkpic {float:left; 
	width:29%; 
	margin-right:3%}

.centralparktext {float:left; 
	width:62%;}

}


@media screen and (min-width: 1000px) { 

ul {list-style-type:none; 
	margin:0; 
	padding:0; 
	clear:left;}
	
ul li {float:left; 
	width:25%;}
	
ul li a {display:block; 
	text-align:center; 
	padding:10px 10px; 
	margin:5px; 
	color:white; 
	background-color:red; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}

}